@use '../../styles/variables/colors';

.dropdown {
  display: flex;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: colors.$primary-color;
  border: 1px solid colors.$divider-color;
  border-radius: 5px;
  padding: 0;
  margin: 8px;
  height: 100%;

  &-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: colors.$secondary-light-color;
    padding: 0 10px;
  }

  &-menu {
    position: absolute;
    top: 50px;
    left: -1px;
    background-color: colors.$primary-color;
    border: 1px solid colors.$divider-color;
    border-radius: 5px;
    margin-top: 5px;
    margin: 0;
    padding: 0;
    z-index: 100;
  }

  &-item {
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    justify-content: flex-start;

    &:hover {
      background-color: colors.$primary-dark-color;
    }
  }
}
