{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": "*.tsx",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }