@import '../../styles/variables/colors';

.editor {
  width: 100% !important;
  height: 100% !important;
  background-color: $primary-color !important;
  box-sizing: border-box;

  .ace_gutter {
    background: $primary-color !important;
    border-right: 0.25px solid $divider-color !important;
  }

  .ace_gutter-active-line {
    background: $primary-light-color !important;
  }

  .ace_active-line {
    background: $primary-light-color !important;
  }

  .ace_marker-layer .ace_bracket {
    background: $primary-dark-color !important;
  }

  .ace_scrollbar::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  .ace_scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #272822; /* Matches ace monokai */
    border-radius: 10px;
  }

  .ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }
}
