version: 2.1

jobs:
  lint:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: npm install --dev
      - run: npm run lint

  typecheck:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: npm install --dev
      - run: npm run typecheck

workflows:
  version: 2
  main:
    jobs:
      - lint
      - typecheck