@import '../../styles/variables/colors';

.response-panel {
  width: 50%;

  .empty-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $secondary-light-color;
  }

  .raw-response {
    text-align: left;
    padding: 0 20px;
    overflow: scroll;
    height: 85%;
    font-size: 14px;
    line-height: 19px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, 'Source Code Pro', source-code-pro,
      monospace;
  }

  .response-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar {
      width: 70%;
    }

    .status {
      display: flex;
      align-items: center;
    }

    .response-header-right {
      display: flex;
      align-items: center;
      gap: 12px;
      padding-right: 4%;
    }

    .copyIcon {
      cursor: pointer;
    }

    .success {
      color: $status-success-color;
    }

    .redirect {
      color: $status-redirect-color;
    }

    .client-error {
      color: $status-client-error-color;
    }

    .server-error {
      color: $status-server-error-color;
    }
  }
}
