@import "../../styles/variables/colors";

.response-panel {
  width: 50%;

  .empty-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $secondary-light-color;
  }

  .raw-response {
    text-align: left;
    padding: 0 20px;
  }
}