@import '../../styles/variables/colors';

.response-panel {
  width: 50%;

  .empty-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $secondary-light-color;
  }

  .raw-response {
    text-align: left;
    padding: 0 20px;
    overflow-y: scroll;
    overflow-x: auto;
    height: 85%;
    font-size: 14px;
    line-height: 19px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, 'Source Code Pro', source-code-pro,
      monospace;
  }

  .raw-response::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  .raw-response::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #272822; /* Matches ace monokai */
    border-radius: 10px;
  }

  .raw-response::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
  }

  .response-panel-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar {
      width: 70%;
    }

    .status {
      display: flex;
      align-items: center;
    }

    .response-header-right {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-right: 2px;
    }

    .copyIcon {
      cursor: pointer;
    }

    .success {
      color: $status-success-color;
    }

    .redirect {
      color: $status-redirect-color;
    }

    .client-error {
      color: $status-client-error-color;
    }

    .server-error {
      color: $status-server-error-color;
    }
  }

  .time-taken {
    font-size: 14px;
    margin-left: 10px;
    color: #333;
  }

}
