@use '../../styles/variables/colors';

.navbar {
  font-family:
    Roboto Condensed,
    sans-serif;
  width: 90%;
  padding: 1rem 0;
  .items {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    .item,
    .active {
      padding: 0.3rem 0.6rem;
      margin: 0.2rem 0.5rem;
      list-style-type: none;
      cursor: pointer;
    }

    .item {
      color: colors.$secondary-light-color;
    }

    .item:hover {
      color: colors.$secondary-dark-color;
    }

    .active {
      color: colors.$secondary-dark-color;
      border-bottom: colors.$accent-color 0.1rem solid;
    }

    .badge {
      display: inline-block;
      border: 0.1rem solid colors.$divider-color;
      color: colors.$accent-contrast-color;
      border-radius: 0.5rem;
      padding: 0.2rem 0.2rem;
      font-size: 0.7rem;
      font-weight: normal;
      margin-left: 0.4rem;
      margin-bottom: 1rem;
      min-width: 1.2rem;
      text-align: center;
      line-height: 1.2;
    }
  }
}
