@use '../../styles/variables/colors';

.sidebar {
  height: 100%;
  padding: 1rem 0;
  .items {
    margin: 0;
    padding: 0;
    .item,
    .active {
      padding: 0.8rem 1rem;
      list-style-type: none;
      cursor: pointer;
    }

    .item {
      color: colors.$secondary-light-color;
      .icon {
        font-size: 1.2rem;
      }
    }

    .item:hover {
      color: colors.$secondary-dark-color;
      background-color: colors.$primary-dark-color;
    }

    .active {
      color: colors.$secondary-dark-color;
      background-color: colors.$primary-dark-color;
      border-left: colors.$accent-color 0.2rem solid;
    }
  }
}
