@import "../../styles/variables/colors";

.sidebar {
  height: 100%;
  padding: 1rem 0.5rem;
  .items {
    margin: 0;
    padding: 0;
    .item {
      margin: 1rem;
      list-style-type: none;
      color: $primary-color;
    }
  }
}