@use '../../styles/variables/colors';

.authentication-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;

  .input {
    font-family:
      Roboto Condensed,
      sans-serif;
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 0 20px;
    margin: 8px;
    outline: none;
    background-color: colors.$primary-color;
    border: 1px solid colors.$divider-color;
    border-radius: 5px;
  }
}
