@use '../../styles/variables/colors';

.request-params-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.2rem 1rem;
  .params-table {
    border-collapse: collapse;
    width: 100%;

    tr:nth-child(even) {
      background-color: colors.$primary-light-color;
      td {
        input {
          background-color: colors.$primary-light-color;
        }
      }
    }

    tr {
      td,
      th {
        border: 1px solid colors.$divider-dark-color;
        text-align: left;
      }

      th {
        padding: 8px;
      }

      td {
        padding: 0 8px;
        input {
          font-family:
            Roboto Condensed,
            sans-serif;
          flex: 1;
          height: 100%;
          width: 100%;
          font-size: 14px;
          padding: 10px 0;
          outline: none;
          background-color: colors.$primary-color;
          border: none;
        }
        &:last-child {
          width: 60px;
          padding: 0;
        }
      }
    }
  }

  .button {
    font-family:
      Roboto Condensed,
      sans-serif;
    width: 110px;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    outline: none;
    background-color: colors.$accent-color;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: colors.$accent-dark-color;
  }

  .delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      color: colors.$accent-dark-color;
    }
  }
  .delete-button:focus-visible,
  .delete-button:focus {
    outline: none !important;
  }
}
