.pane-splitter-horizontal {
  width: 1px;
  height: 100%;
  cursor: col-resize;
  background-color: gray;
}

.pane-splitter-vertical {
  width: 100%;
  height: 1px;
  cursor: row-resize;
  background-color: gray;
}