@import "../../styles/variables/colors";

.pane-splitter-horizontal {
  width: 0.25px;
  height: 100%;
  cursor: col-resize;
  background-color: $divider-color;
}

.pane-splitter-vertical {
  width: 100%;
  height: 0.25px;
  cursor: row-resize;
  background-color: $divider-color;
}