@import "../../styles/variables/colors";

.request-panel {
  display: flex;
  flex-direction: column;
  width: 50%;

  .empty-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $secondary-light-color;
  }
}